---
import Header from "@/layouts/header.astro";
import "@/styles/global.css";

const baseUrl = import.meta.env.BASE_URL;
const { title } = Astro.props;
---

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href=`${baseUrl}/sitemap-index.xml` />
    <link rel="icon" type="image/svg+xml" href=`${baseUrl}/favicon.svg` />
    <meta name="generator" content={Astro.generator} />
    <title>{`Playground - ${title ?? "Home"}`}</title>
  </head>
  <body class="grid min-h-dvh grid-cols-1 grid-rows-[auto,1fr]">
    <Header title={title} />
    <main>
      <slot />
    </main>
  </body>
</html>
