<label
  aria-label="Toggle theme"
  class="has-[:focus-visible]:bg-primay block cursor-pointer items-center rounded-lg px-4 py-2 text-sm font-medium outline-none hover:bg-primary hover:text-primary-foreground has-[:focus-visible]:bg-primary has-[:focus-visible]:text-primary-foreground"
>
  <input id="theme-toggle" name="theme" class="peer sr-only" type="checkbox" value="dark" />
  <svg
    id="theme-icon-dark"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="block size-6 peer-checked:hidden"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
    ></path>
  </svg>
  <svg
    id="theme-icon-light"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="hidden size-6 peer-checked:block"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
    ></path>
  </svg>
</label>

<script is:inline>
  const themeToggle = document.getElementById("theme-toggle");

  if (themeToggle) {
    themeToggle.checked = document.documentElement.classList.contains("dark");
    themeToggle.addEventListener("change", () => {
      localStorage.setItem("theme", themeToggle.checked ? "dark" : "light");
      document.documentElement.classList.toggle("dark");
    });
  }
</script>
