---
import Piechart from "@/components/misc/piechart/piechart.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Piechart">
  <p>
    <a href="https://grafikart.fr/tutoriels/graph-pie-camembert-1965" title="Grafikart tutorial"
      >Grafikart tutorial</a
    >
  </p>
  <Piechart />
</Layout>
