@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43.15789473684211 58.762886597938156% 80.98039215686275%;
    --foreground: 21.81818181818182 7.382550335570472% 29.215686274509803%;
    --card: 48.46153846153846 86.66666666666654% 88.23529411764704%;
    --card-foreground: 20 5.2631578947368425% 22.352941176470587%;
    --popover: 52.94117647058823 73.91304347826066% 90.98039215686272%;
    --popover-foreground: 0 0% 15.686274509803921%;
    --primary: 189.56 88.98% 24.9%;
    --primary-foreground: 43.15789473684211 58.762886597938156% 80.98039215686275%;
    --secondary: 58.095238095238095 70.78651685393257% 34.90196078431373%;
    --secondary-foreground: 48.46153846153846 86.66666666666654% 88.23529411764704%;
    --muted: 43.15789473684211 58.762886597938156% 80.98039215686275%;
    --muted-foreground: 26.666666666666664 9.67741935483871% 36.470588235294116%;
    --accent: 332.66 33.62% 53.92%;
    --accent-foreground: 20 3.0927835051546393% 19.019607843137255%;
    --destructive: 2.4 75.10729613733905% 45.68627450980392%;
    --destructive-foreground: 52.94117647058823 73.91304347826066% 90.98039215686272%;
    --border: 35 17.14285714285714% 58.8235294117647%;
    --input: 52.94117647058823 73.91304347826066% 90.98039215686272%;
    --ring: 38 100% 50%;
    --chart-1: 36.52173913043478 80.09950248756219% 39.411764705882355%;
    --chart-2: 57.19626168224299 79.25925925925927% 26.470588235294112%;
    --chart-3: 38.57142857142858 24.13793103448277% 65.88235294117648%;
    --chart-4: 357.7070063694267 100% 30.784313725490197%;
    --chart-5: 322.5 38.834951456310684% 40.3921568627451%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 195 6.451612903225806% 12.15686274509804%;
    --foreground: 40.38461538461539 38.23529411764705% 73.33333333333333%;
    --card: 20 3.0927835051546393% 19.019607843137255%;
    --card-foreground: 48.46153846153846 86.66666666666654% 88.23529411764704%;
    --popover: 0 0% 15.686274509803921%;
    --popover-foreground: 43.15789473684211 58.762886597938156% 80.98039215686275%;
    --primary: 157.06 15.89% 58.04%;
    --primary-foreground: 195 6.451612903225806% 12.15686274509804%;
    --secondary: 59.523809523809526 70.78651685393257% 34.90196078431373%;
    --secondary-foreground: 0 0% 15.686274509803921%;
    --muted: 20 5.2631578947368425% 22.352941176470587%;
    --muted-foreground: 38.57142857142858 24.13793103448277% 65.88235294117648%;
    --accent: 332.66 33.62% 53.92%;
    --accent-foreground: 20 3.0927835051546393% 19.019607843137255%;
    --destructive: 343.6363636363636 46.66666666666666% 67.6470588235294%;
    --destructive-foreground: 195 6.451612903225806% 12.15686274509804%;
    --border: 21.81818181818182 7.382550335570472% 29.215686274509803%;
    --input: 20 5.2631578947368425% 22.352941176470587%;
    --ring: 41.970443349753694 95.30516431924879% 58.23529411764705%;
    --chart-1: 41.970443349753694 95.30516431924879% 58.23529411764705%;
    --chart-2: 122.26415094339623 21.285140562248998% 51.1764705882353%;
    --chart-3: 21.81818181818182 7.382550335570472% 29.215686274509803%;
    --chart-4: 2.4 75.10729613733905% 45.68627450980392%;
    --chart-5: 332.65822784810126 33.61702127659574% 53.92156862745098%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  .grid-stack {
    display: grid;
    grid-template-areas: "stack";
  }
  .grid-stack > * {
    grid-area: stack;
  }
}

/* gruvbox theme
:root {
	--background: 43.15789473684211 58.762886597938156% 80.98039215686275%;
	--foreground: 21.81818181818182 7.382550335570472% 29.215686274509803%;
	--card: 48.46153846153846 86.66666666666654% 88.23529411764704%;
	--card-foreground: 20 5.2631578947368425% 22.352941176470587%;
	--popover: 52.94117647058823 73.91304347826066% 90.98039215686272%;
	--popover-foreground: 0 0% 15.686274509803921%;
	--primary: 182.6865671641791 32.68292682926829% 40.196078431372555%;
	--primary-foreground: 43.15789473684211 58.762886597938156% 80.98039215686275%;
	--secondary: 58.095238095238095 70.78651685393257% 34.90196078431373%;
	--secondary-foreground: 48.46153846153846 86.66666666666654% 88.23529411764704%;
	--muted: 43.15789473684211 58.762886597938156% 80.98039215686275%;
	--muted-foreground: 26.666666666666664 9.67741935483871% 36.470588235294116%;
	--accent: 122.26415094339623 21.285140562248998% 51.1764705882353%;
	--accent-foreground: 52.94117647058823 73.91304347826066% 90.98039215686272%;
	--destructive: 2.4 75.10729613733905% 45.68627450980392%;
	--destructive-foreground: 52.94117647058823 73.91304347826066% 90.98039215686272%;
	--border: 35 17.14285714285714% 58.8235294117647%;
	--input: 52.94117647058823 73.91304347826066% 90.98039215686272%;
	--ring: 38 100% 50%;
	--chart-1: 36.52173913043478 80.09950248756219% 39.411764705882355%;
	--chart-2: 57.19626168224299 79.25925925925927% 26.470588235294112%;
	--chart-3: 38.57142857142858 24.13793103448277% 65.88235294117648%;
	--chart-4: 357.7070063694267 100% 30.784313725490197%;
	--chart-5: 322.5 38.834951456310684% 40.3921568627451%;
	--radius: 0.5rem;
}

.dark {
	--background: 195 6.451612903225806% 12.15686274509804%;
	--foreground: 40.38461538461539 38.23529411764705% 73.33333333333333%;
	--card: 20 3.0927835051546393% 19.019607843137255%;
	--card-foreground: 48.46153846153846 86.66666666666654% 88.23529411764704%;
	--popover: 0 0% 15.686274509803921%;
	--popover-foreground: 43.15789473684211 58.762886597938156% 80.98039215686275%;
	--primary: 182.6865671641791 32.68292682926829% 40.196078431372555%;
	--primary-foreground: 195 6.451612903225806% 12.15686274509804%;
	--secondary: 59.523809523809526 70.78651685393257% 34.90196078431373%;
	--secondary-foreground: 0 0% 15.686274509803921%;
	--muted: 20 5.2631578947368425% 22.352941176470587%;
	--muted-foreground: 38.57142857142858 24.13793103448277% 65.88235294117648%;
	--accent: 157.05882352941177 15.887850467289718% 58.03921568627451%;
	--accent-foreground: 20 3.0927835051546393% 19.019607843137255%;
	--destructive: 343.6363636363636 46.66666666666666% 67.6470588235294%;
	--destructive-foreground: 195 6.451612903225806% 12.15686274509804%;
	--border: 21.81818181818182 7.382550335570472% 29.215686274509803%;
	--input: 20 5.2631578947368425% 22.352941176470587%;
	--ring: 41.970443349753694 95.30516431924879% 58.23529411764705%;
	--chart-1: 41.970443349753694 95.30516431924879% 58.23529411764705%;
	--chart-2: 122.26415094339623 21.285140562248998% 51.1764705882353%;
	--chart-3: 21.81818181818182 7.382550335570472% 29.215686274509803%;
	--chart-4: 2.4 75.10729613733905% 45.68627450980392%;
	--chart-5: 332.65822784810126 33.61702127659574% 53.92156862745098%;
}
*/
